.spinner {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 15px solid;
   border-color: #dbdcef;
   border-right-color: #5455ad;
   animation: spinner-d3wgkg 1.5s infinite linear;
}

@keyframes spinner-d3wgkg {
   to {
      transform: rotate(1turn);
   }
}