.active {
  animation: show 0.1s linear 0.1s 1 forwards;
}

@keyframes show {
  from {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
