.card {
  /* border: 1px solid red; */
  background-color: white;
}

img {
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  box-shadow: 0 5px 5px rgba(233, 233, 233, 0.308);
  margin-bottom: 2em;
}
